:root {
    --bg-color: #1c1c1c;
    --card-bg: #3a3a3a;
    --text-color: #fff;
    --hover-scale: 1.2;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}


.solar-system {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
    max-width: 900px;
    margin: auto;
}

.sun, .planet-card {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px;
    cursor: pointer;
}

.sun:hover, .planet-card:hover {
    transform: scale(var(--hover-scale)) !important;
}

.sun-g {
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, yellow, red);
    border-radius: 50%;
    margin-bottom: 10px;
}

.planets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    justify-items: center;
}
.planet {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}